<form name="form" class="css-form">
	<div class="form-group">
	  <label for="FirstName">First Name:</label>
	  <input type="text" ng-model="user.firstName" class="form-control" name="firstName" required>
	  	<span ng-show="form.$submitted || form.firstName.$touched">
			<span ng-show="form.firstName.$error.required">Please tell us your name.</span>
		</span>
	</div>
	<div class="form-group">
	  <label for="LastName">Last Name:</label>
	  <input type="text" ng-model="user.lastName" class="form-control" name="lastName" required>
	  	<span ng-show="form.$submitted || form.lastName.$touched">
			<span ng-show="form.lastName.$error.required">PLease tell us your last name.</span>
		</span>
	</div>
	<div class="form-group">
	  <label for="Email1">Email Address:</label>
      <input type="email" ng-model="user.email" class="form-control" name="eMail" required>
		<span ng-show="form.$submitted || form.eMail.$touched">
			<span ng-show="form.eMail.$error.required">PLease tell us your email.</span>
			<span ng-show="form.eMail.$error.email">This is not a valid email.</span>
		</span>
	</div>	
	<div class="form-group">
		<label for="Tel">Phone Number:</label>
    	<input type="text" ng-model="user.phone" name="phone" class="form-control" ng-minlength="10" ng-maxlength="10"pattern="[0-9]{10}" required>
        	<span ng-show="form.$submitted || form.phone.$touched">
  				<span ng-show="form.phone.$error.required">PLease tell us your phone number.</span>
  				<span ng-show="form.phone.$error.minlength || form.phone.$error.maxlength">This is not a valid phone number.</span>
    		</span>
	</div>
	<button type="button" ng-disabled="form.$invalid || form.$pristine" class="btn btn-default btn-md" ng-click="change(1)">Next</button>
</form> 